<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- java.lang.IllegalArgumentException: Mapped Statements collection does not contain value for 命名空间错误 -->
<mapper namespace="com.lanen.wechat.mapping.TeamMapper">
	<!-- 目的：为DAO接口方法提供sql语句配置 -->
	<resultMap type="com.lanen.wechat.pojo.Team" id="teamMap">
		<id column="id" property="id"/>
		<result column="team_name" property="teamName"/>
		<result column="team_info" property="teamInfo"/>
		<result column="create_time" property="createTime"/>
		<result column="team_pic" property="teamPic"/>
		<result column="create_user" property="createUser"/>
		<result column="is_del" property="isDel"/>
		
	</resultMap>

	<select id="listTeamInfo" resultMap="teamMap">
		select * from weixin_team where is_del!=1
	</select>
</mapper>